.main {
    padding: 0 .625rem 2.8125rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.app-logo {
}

.app-header {
  background-color: #222d48;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.75rem;
}

.app-link {
  color: #09d3ac;
}

